
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.font-serif {
    font-family: 'Playfair Display', serif;
}

.bg-emcn-blue { background-color: #0a2e4e; }
.text-emcn-blue { color: #0a2e4e; }
.border-emcn-gold { border-color: #c5a059; }
.text-emcn-gold { color: #c5a059; }
.bg-emcn-gold { background-color: #c5a059; }

/* Custom Scrollbar for Sidebar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(197, 160, 89, 0.3);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(197, 160, 89, 0.5);
}
